header{
    nav{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        a{
            .imgnav{
                width: 50%;
            }
        &:hover{
            border-bottom: solid 0.3px white;
            color: white;}
        }
    }
}

#aboutmy{
    .blockp{
        background-color: $zak;
        .container{
            h1{
                font-family: 'Josefin Sans', sans-serif;
                color: white;
            }
            .profil{
                border-radius: 50px;
                width: 100%;
            }
        
            h2{
                font-family: 'Josefin Sans', sans-serif;
                color: white;
                font-size: 30px;
            }
            p{
                font-family: 'Josefin Sans', sans-serif;
                color: white;
                font-size: 15px;
            }
            .design{
                display: block;
            }
        }  
        
    }
}
#skills{
    .blockblanc{
        .container{
            .row{
                .col-12{
                    h1{
                        font-family: 'Josefin Sans', sans-serif;
                        color: $info; 
                    }
                }
            }
            .row{
                .col-12{
                    #graphic{
                        border: #005A55 3px solid;
                        padding: 35px;
                        .clas80{
                            width: 10%;
                            height: 25px;
                            background-color: #005A55;
                            transition : width 1s;
                            color: white;
                            padding-top: 5px;
                            padding-left: 5px;
                            padding-bottom: 2px;
                                &:hover{
                                    background-color: $danger;
                                    width: 80% !important;
                                    text-align: right;}
                        }
                        .clas65{
                            width: 10%;
                            height: 25px;
                            background-color: #005A55;
                            transition : width 1s;
                            color: white;
                            padding-top: 5px;
                            padding-left: 5px;
                            padding-bottom: 2px;
                                &:hover{
                                    background-color: $danger;
                                    width: 65% !important;
                                    text-align: right;}
                        }
                    }
                    #lang{
                        border: #005A55 3px solid;
                        padding: 35px;
                        .clas50{
                            width: 10%;
                            height: 25px;
                            background-color: #005A55;
                            transition : width 1s;
                            color: white;
                            padding-top: 5px;
                            padding-left: 5px;
                            padding-bottom: 2px;
                                &:hover{
                                    background-color: $danger;
                                    width: 50% !important;
                                    text-align: right;}
                        }
                        .clas60{
                            width: 10%;
                            height: 25px;
                            background-color: #005A55;
                            transition : width 1s;
                            color: white;
                            padding-top: 5px;
                            padding-left: 5px;
                            padding-bottom: 2px;
                                &:hover{
                                    background-color: $danger;
                                    width: 60% !important;
                                    text-align: right;}
                        }
                        .clas40{
                            width: 10%;
                            height: 25px;
                            background-color: #005A55;
                            transition : width 1s;
                            color: white;
                            padding-top: 5px;
                            padding-left: 5px;
                            padding-bottom: 2px;
                                &:hover{
                                    background-color: $danger;
                                    width: 40% !important;
                                    text-align: right;}
                        }
                        }
                    }
                }
            }
        }
    }
#service{
    .blockvert{
        background-color: $info;
        color: white;
        .container{
            h1{
                font-family: 'Josefin Sans', sans-serif;
                color: white;
            }
        .row{
            .col-3{
                .borderr{
                    border: white solid 2px;
                    padding: 25px;
                    h3{
                        font-size: 25px;
                        }
                    i{
                        font-size: 25px;
                    }
                    i:hover{
                        background-color: white;
                        color: #005A55;
                        padding: 10px;
                        border-radius: 100px;
                    }
                    p{
                        font-size: 15px; 
                    }
                    
                    }
                }
            }
        }
    }
}

